################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AccountsUIBlazor/v17
/.vs
/AccountsUIBlazor/.vs/AccountsUIBlazor/v17/.suo
/AccountsUIBlazor/AccountsUIBlazor/bin/Debug/net6.0
