################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AccountsUIBlazor/v17
/.vs
/AccountsUIBlazor/.vs/AccountsUIBlazor/v17/.suo
/AccountsUIBlazor/AccountsUIBlazor/bin/Debug/net6.0
/AccountsUIBlazor/AccontApi.Core/obj/Debug/net6.0/AccountApi.Core.assets.cache
/AccountsUIBlazor/AccontApi.Core/obj/Debug/net6.0/AccountApi.Core.csproj.FileListAbsolute.txt
/AccountsUIBlazor/AccountApi.Application/obj/Debug/net6.0/AccountApi.Application.assets.cache
/AccountsUIBlazor/AccountApi.Application/obj/Debug/net6.0/AccountApi.Application.csproj.FileListAbsolute.txt
